In [1]:
from bertopic import BERTopic
from bertopic.vectorizers import ClassTfidfTransformer
import json
import pandas as pd

c:\Users\USUARIO\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model_bt_fnl=BERTopic.load("model_final")

In [3]:
lista1=model_bt_fnl.find_topics("mineria texto")
#listaUno=model_bt_fnl.find_topics("redes")
lista1

([169, 348, 215, 170, 282],
 [0.64664143, 0.6414825, 0.6374149, 0.6264447, 0.62427855])

Establecer la conexion con la base de datos

In [4]:
import mysql
import mysql.connector as mysql
conexion = mysql.connect(
    host = "localhost",
    user = "root",
    password = "Soysuficiente2043@",
    database="tesis"
)
mycursor = conexion.cursor()
mycursorT1 = conexion.cursor()
mycursorT2 = conexion.cursor()
mycursorT3 = conexion.cursor()
mycursorT4 = conexion.cursor()
mycursorT5 = conexion.cursor()
mycursoR1=conexion.cursor()
mycursorTr=conexion.cursor()
sqlSelectT1 = "select temaDirector,temaP1,temaUno from tema where temaUno in (%s,%s,%s,%s,%s)"
sqlSelectT2 = "select temaDirector,temaP2,temaDos from tema where temaDos in (%s,%s,%s,%s,%s)"
sqlSelectT3 = "select temaDirector,temaP3,temaTres from tema where temaTres in (%s,%s,%s,%s,%s)"
sqlSelectT4 = "select temaDirector,temaP4,temaCuatro from tema where temaCuatro in (%s,%s,%s,%s,%s)"
sqlSelectT5 = "select temaDirector,temaP5,temaCinco from tema where temaCinco in (%s,%s,%s,%s,%s)"
sqlInsert = "INSERT INTO lista_rank (lista_rankDirector,lista_rankTema ,lista_rankProbabilidad,lista_ranktemapb,lista_rankcol ) VALUES (%s, %s, %s,%s,%s)"
sqlResult="select lista_rankDirector,sum((lista_rankProbabilidad*lista_rankcol)) def from lista_rank group by lista_rankDirector order by def desc"
sqltruncate="truncate table lista_rank"
mycursorTr.execute(sqltruncate)

In [5]:

listaTotal=[]
listarankeada=[]
value4=''
d=''
listaTemas=str(lista1[0]).split(",")
listaPb=str(lista1[1]).split(",")
p1=listaTemas[0].replace("[","").replace(" ","")
p2=listaTemas[1].replace(" ","")
p3=listaTemas[2].replace(" ","")
p4=listaTemas[3].replace(" ","")
p5=listaTemas[4].replace("]","").replace(" ","")
p=(p1,p2,p3,p4,p5,) 

mycursorT1.execute(sqlSelectT1, p)
listaTotal.append(mycursorT1.fetchall())
mycursorT2.execute(sqlSelectT2, p)
listaTotal.append(mycursorT2.fetchall())
mycursorT3.execute(sqlSelectT3, p)
listaTotal.append(mycursorT3.fetchall())
mycursorT4.execute(sqlSelectT4, p)
listaTotal.append(mycursorT4.fetchall())
mycursorT5.execute(sqlSelectT5, p)
listaTotal.append(mycursorT5.fetchall())
for j in listaTotal:
        for i in j:
           listaAux=(str(i).replace("[(","").replace(")]","").split(","))
           value1=listaAux[0].replace("(","").replace("'","")
           value2=listaAux[1]
           value3=listaAux[2] 
           m= ((value3.replace(")","")).replace("(","")).replace(" ","")
           for h in range(0,len(listaTemas)):
               V=(str(listaTemas[h]).replace("[","").replace("]","")).replace(" ","")
               if m==V:
                 value4=listaPb[h]
                 value5=value4.replace("]","").replace("[","")
                 break
           insert=value1,m,value2,m,value5
           print(value1)
           mycursor.execute(sqlInsert, insert)
           conexion.commit()
listaResulRank=mycursoR1.execute(sqlResult)
for  b in mycursoR1 :
      print(b)

JOSAFA DE JESUS AGUIAR PONTES
PATRICIO XAVIER ZAMBRANO RODRIGUEZ
LORENA KATHERINE RECALDE CERDA
FERNANDO FLORES CIFUENTES
('JOSAFA DE JESUS AGUIAR PONTES', 0.275795350453149)
('PATRICIO XAVIER ZAMBRANO RODRIGUEZ', 0.26156070462825)
('LORENA KATHERINE RECALDE CERDA', 0.21233172104234999)
('FERNANDO FLORES CIFUENTES', 0.20826617815762496)